# Dependencies
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
build/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases and OS files
*.db
*.db-journal
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
